<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Bugzilla", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if current_user %>
      <%= render 'shared/navigation/qa' %>
      <%= render 'shared/navigation/manager' %>
      <%= render 'shared/navigation/developer' %>
    <% else %>
      <%= render 'shared/navigation/general' %>
  <% end %>
    <ul class="navbar-nav">
      <%= login_register_link %>
    </ul>
  </div>
</nav>
<%= current_user.inspect %>