<div class="col-4">
  <div class="card" >
    <img class="card-img-top" src="<%= bug.image ? bug.image_url : ""  %>" alt="<%= bug.title %>">
    <div class="card-body">
      <h5 class="card-title"><%= bug.title %></h5>
      <p class="card-text"><%= bug.description %></p>
      <div class="text-center">
        <%= link_to "Edit", root_path, class:"btn btn-outline-primary" %>
        <%= link_to "Assign to Developer", root_path, class:"btn btn-outline-warning" %>
      </div>
    </div>
  </div>
</div>