  <div class="jumbotron">
    <h1 class="display-4"><%= project.title %></h1>
    <p class="lead"><%= project.description %></p>
    <hr class="my-4">
    <p class="lead">
      <%= link_to "Show" , project_path(project) ,  class: "btn btn-outline-primary" %>
      <%= link_to "Edit" , edit_project_path(project) ,  class: "btn btn-outline-success" %>
      <%= link_to "Assign User" , add_user_path(project) ,  class: "btn btn-outline-danger" %>
    </p>
  </div>