<div class="jumbotron">
  <h1 class="display-4"><%= project.title %></h1>
  <p class="lead"><%= project.description %></p>
  <hr class="my-4">
  <p class="lead text-center">
    <% if can? :show, ProjectsController %>
      <%= link_to "Show", project_path(project), class: "btn btn-outline-primary" %>
    <% end %>

    <% if can? :edit, ProjectsController %>
      <%= link_to "Edit", edit_project_path(project), class: "btn btn-outline-success" %>
    <% end %>

    <% if can? :destroy, ProjectsController %>
      <%= link_to "Delete", project_path(project), method: "delete", data: { confirm: "Are you sure?" }, class: "btn btn-outline-warning" %>
    <% end %>

    <% if can? :add_user, ProjectsController %>
      <%= link_to "Add User", add_user_path(project), class: "btn btn-outline-danger" %>
    <% end %>
    <% if can? :new, BugsController %>
      <%= link_to "Report Bug", bug_new_path(project), class: "btn btn-outline-danger" %>
    <% end %>
  </p>
</div>