<div class="jumbotron">
  <h1 class="display-4"><%= @project.title %></h1>
  <p class="lead"><%= @project.description %></p>
  <hr class="my-4">
  <p class="lead text-center">
    <%= link_to "Back", projects_path, class: "btn btn-outline-info" %>
    <% if can? :edit, ProjectsController %>
      <%= link_to "Edit", edit_project_path(@project), class: "btn btn-outline-success" %>
    <% end %>
    <% if can? :destroy, ProjectsController %>
      <%= link_to "Delete", project_path(@project), method: "delete", data: { confirm: "Are you sure?" }, class: "btn btn-outline-warning" %>
    <% end %>
    <% if can? :add_user, ProjectsController %>
      <%= link_to "Add User", add_user_path(@project), class: "btn btn-outline-danger" %>
    <% end %>
    <% if can? :new, BugsController %>
      <%= link_to "Report Bug", bug_new_path(@project), class: "btn btn-outline-danger" %>
    <% end %>
  </p>
</div>
<ul class="nav nav-tabs" role="tablist">
  <% if can? :show_list_bugs, BugsController %>
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#listOfBugs">List of Bugs</a>
    </li>
  <% end %>
  <% if can? :show_list_user, ProjectsController %>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#listOfUser">List of User</a>
    </li>
  <% end %>
</ul>
<div class="tab-content">
  <div id="listOfBugs" class="container tab-pane active"><br>
    <% if @project.bugs.count <= 0 %>
      <h4 class="text-center">No bug link with this project</h4>
    <% end %>
    <div class="row">
      <% @project.bugs.each do |bug| %>
        <%= render 'shared/bugs/bugs', bug: bug, project: @project %>
      <% end %>
    </div>
  </div>
  <div id="listOfUser" class="container tab-pane fade"><br>
    <% if @users.count <= 0 %>
      <h4 class="text-center">No user link with this project</h4>
    <% end %>
    <div class="row">
      <%= render partial: 'user', collection: @users %>
    </div>
  </div>
</div>
<%= render 'shared/pagination', pagination: @users %>