<div class="container">
  <ul class="list-group text-center">
    <li class="list-group-item">Project ID : <%= @project.id %>  Project Title : <%= @project.title %></li>
    <li class="list-group-item"><%= @project.description %></li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-6">
          <%= link_to "Back", projects_path , class: "btn btn-primary float-left"  %>
        </div>
        <div class="col-6">
          <%= button_to "Delete", project_path(@project), data: { confirm: "Are you sure?" }, method: :delete,  class: "btn btn-primary float-right"  %>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="container">
  <h2>User List</h2>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'user', collection: @users %>
    </tbody>
  </table>
</div>
