<div class="col-4 mb-3">
  <div class="card">
    <% if bug.image_url %>
      <img class="card-img-top" src="<%= bug.image ? bug.image_url : "" %>" alt="<%= bug.title %>">
    <% else %>
      <%= image_tag('/no-image.jpg', :class => "card-img-top") %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= bug.title %></h5>
      <p class="card-text"><%= bug.description %></p>
      <div class="text-center">
        <% if !bug.bug_users.first %>
          <%= link_to "Assign to Himself", assign_developer_path(bug), class: "btn btn-outline-warning" %>
        <% end %>
        <% if bug.bug_users.first && bug.bug_users.first.id = current_user.id %>
          <%= link_to "Mark as Solved", bug_solved_path(bug), class: "btn btn-outline-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


