<div class="col-4 mb-3">
  <div class="card">
    <% if bug.image_url %>
      <img class="card-img-top" src="<%= bug.image ? bug.image_url : "" %>" alt="<%= bug.title %>">
    <% else %>
      <%= image_tag('/no-image.jpg', :class => "card-img-top") %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= bug.title %></h5>
      <p class="card-text"><%= bug.description %></p>
      <% if isShowProjectButton  %>
        <p class="card-text"><b>Project Title : </b>  <%= project.title %> </p>
      <% end %>
      <p class="card-text"><b>Bug Type : </b>  <%= bug.bug_type %> </p>
      <p class="card-text"><b>Bug Status : </b>  <%= bug.status %> </p>
      <p class="card-text"><b>Created By : </b>  <%= bug.user.name %> </p>
      <% if bug.bug_users.first %>
        <p class="card-text"><b>User to Assign : </b>  <%= bug.bug_users.first.user.name if bug.bug_users.first %></p>
      <% else %>
        <p class="card-text"><b>User to Assign : </b> Not Assign</p>
      <% end %>
      <div class="text-center">
        <% if can? :edit, BugsController %>
          <%= link_to "Edit Bug", bug_edit_path(bug), class: "btn btn-outline-primary" %>
        <% end %>
        <% if can? :assign_developer, BugsController %>
          <% if !bug.bug_users.first %>
            <%= link_to "Assign to Developer", assign_developer_path(bug), class: "btn btn-outline-warning" %>
          <% end %>
        <% end %>
        <% if can? :assign_himself, DeveloperProjectsController %>
          <% if !bug.bug_users.first %>
            <%= link_to "Assign to Himself", assign_himself_path(bug), class: "btn btn-outline-warning" %>
          <% end %>
        <% end %>
        <% if can? :solved, DeveloperProjectsController %>
          <% if bug.bug_users.first && bug.bug_users.first.id = current_user.id %>
            <% if bug.status == "#{Bug.bug_status_list.keys[3]}" || bug.status == "#{Bug.bug_status_list.keys[2]}" %>
            <% else %>
              <%= link_to "Mark as #{bug.bug_type == 'Bug' ? 'Solved' : "Complete" }", bug_solved_path(bug), class: "btn btn-outline-primary" %>
            <% end %>
          <% end %>
        <% end %>
        <% if isShowProjectButton  %>
          <%= link_to "Show Project", project_path(project), class: "btn btn-outline-primary" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
