<p> <b>Project Title : </b> <%= @project_title %> </p>
<p> <b>Total no of bugs : </b> <%= @total_no_of_bugs %> </p>
<p> <b>Total no of bugs reported today: </b> <%= @total_no_of_bugs_created_today %> </p>
<p> <b>Total No Developer link with this Project : </b> <%= @no_of_devs %></p>
<p> <b>Total No QA link with this Project : </b> <%= @no_of_qa %></p>
