<ul class="navbar-nav mr-auto">
  <li class="nav-item ">
    <%= link_to "Profile", edit_user_registration_path, class: "nav-link" %>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Project
    </a>
    <div class="dropdown-menu <%= is_active('about') %>" aria-labelledby="navbarDropdown">
      <%= link_to "New", new_project_path, class: "dropdown-item" %>
      <%= link_to "List", projects_path, class: "dropdown-item" %>
    </div>
  </li>
  <li class="nav-item ">
  <%= link_to "QA Project List", qa_project_path, class: "nav-link" %>
  </li>
  <li class="nav-item ">
    <%= link_to "Developer Project List", developer_project_path, class: "nav-link" %>
  </li>
</ul>