<tr>
  <td><%= project.id %></td>
  <td><%= project.title %></td>
  <td><%= project.description %></td>
  <td>
    <%= link_to show_bug_path(project.id) do %>
      <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i></button>
    <% end %>
    <%= link_to new_bug_path(project) do %>
      <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Report bug</button>
    <% end %>
  </td>
</tr>
